<!DOCTYPE html>
<html lang="en">
<body style="background:#313538; color:white">

<div th:with="mimeType=
    ${#strings.endsWith(filename, '.ogg') ? 'video/ogg' :
    (#strings.endsWith(filename, '.mp4') ? 'video/mp4' :
    null)}">
    <video th:if="${mimeType != null}" width="80%" controls autoplay muted playsinline>
        <source th:src="@{|/api/stream?filename=${filename}|}" th:type="${mimeType}">
        Your browser does not support video playback.
    </video>
</div>


<div th:with="mimeType=
    ${#strings.endsWith(filename, '.mp3') ? 'audio/mpeg' :
    (#strings.endsWith(filename, '.ogg') ? 'audio/ogg' :
    (#strings.endsWith(filename, '.wav') ? 'audio/wav' :
    null))}">

    <audio controls th:if="${mimeType != null}">
        <source th:src="@{|/api/stream?filename=${filename}|}" th:type="${mimeType}">

        Your browser does not support the audio element for this file type.
    </audio>

</div>

</body>
</html>